{% extends 'base.html' %}

{% block title %}

{% endblock %}


{% block main %}
    <header class="masthead" style="background-image: url('{{ article.img.url }}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1 style='font-family: tanha'>{{ article.title }}</h1><br>
{#                        <h2 class="subheading">{{ article }}</h2>#}
                        <span class="meta" style="font-family:tanha">
                                نوشته شده توسط
                                <a href="#!" style="color:mediumspringgreen">{{ article.author }}</a>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p style="font-family:tanha">
                        {{ article.description|safe|linebreaksbr}}
                    </p>
                </div>
            </div>
        </div>
    </article>

{% endblock %}